<div class="row">
  <div class="col-md-6 col-sm-12">
    <br>
      <div class="col-12">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-money"></i>
              </div>
              <div class="mr-5">Giá ETH hôm nay</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="https://coinmarketcap.com/currencies/ethereum/" target="_blank">
              <span class="float-left">XEM</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
      </div>
      <br>
      <div class="alert alert-danger" role="alert" *ngIf="notFoundMeta">
        <h4 class="alert-heading">Không phát hiện Meta Mask, tải tại <a href="https://metamask.io/" target="_blank">ĐÂY</a></h4>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="lockGate">
        <h4 class="alert-heading">Quá trình trao giải đang diễn ra, vui lòng quay lại sau ít phút</h4>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="showWinner">
        <h4 class="alert-heading">CHÚC MỪNG !!! Bạn đã nhận được giải ở kì quay tuần trước</h4>
        <p>Quay lại <a routerLink="//">trang chủ</a> để xem chi tiết danh sách trúng thưởng</p>
      </div>
    <div class="lucky-outer" *ngIf="!notFoundMeta">
        <button [attr.disabled]="disablePlay ? '' : null" type="button" class="btn btn-primary lucky-btn" (click)="this.onPlay()">Thử Vận May</button>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <app-profile></app-profile>
    <div class="col-sm-12" *ngIf="!notFoundMeta">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Những Điều Nên Biết Trước Khi Tham Gia</h4>
            <ul>
              <li>Chương trình sẽ diễn ra vào cuối tuần ở giờ bất kì *</li>
              <li>Bạn chỉ được tham gia 1 lần mỗi tuần (nút tham gia sẽ tự động khoá)</li>
              <li>Bạn cần cài đặt Metamask để tham gia, tải tại <a href="https://metamask.io/" target="_blank">ĐÂY</a></li>
              <li>Danh sách người trúng giải đặc biệt và giải ản ủi có thể xem ở trang chủ</li>
            </ul>
            <hr>
            <p>* Do vấn đề bảo mât</p>
            <p class="mb-0">Nếu chưa rõ điều gì, bạn có thể email, chúng tôi sẽ cố gắng hồi âm nhanh nhất có thể</p>
          </div>
    </div>
  </div>
</div>
