<div class="row">
  <div class="col-md-6 col-sm-12">
    <br>
      <div class="col-12">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-money"></i>
              </div>
              <div class="mr-5">ETH's price today</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="https://coinmarketcap.com/currencies/ethereum/" target="_blank">
              <span class="float-left">View</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
      </div>
      <br>
      <div class="alert alert-danger" role="alert" *ngIf="notFoundMeta">
        <h4 class="alert-heading">Coudn't detect Meta Mask, download at <a href="https://metamask.io/" target="_blank">HERE</a></h4>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="lockGate">
        <h4 class="alert-heading">The awarding process is ongoing, please come back in a few minutes</h4>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="showWinner">
        <h4 class="alert-heading">CONGRATULATIONS !!! You received the prize in the last week's spin</h4>
        <p>Going back <a routerLink="/">Homepage</a> to see the winning list details</p>
      </div>
    <div class="lucky-outer" *ngIf="!notFoundMeta">
        <button [attr.disabled]="disablePlay ? '' : null" type="button" class="btn btn-primary lucky-btn" (click)="this.onPlay()">Give It A Shot</button>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <app-profile></app-profile>
    <div class="col-sm-12" *ngIf="!notFoundMeta">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Things to Know Before You Participate</h4>
            <ul>
              <li>The program will take place on weekends at any time * (if the prize is greater than 0.05 ETH)</li>
              <li>You can only participate once a week</li>
              <li>You need to install Metamask to join, download <a href="https://metamask.io/" target="_blank">HERE</a></li>
              <li>List of consolation prizes and the winner and can be found on the homepage</li>
            </ul>
            <hr>
          </div>
    </div>
  </div>
</div>
