<section id="contact" class="bg-aqua">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Contact us</h2>
          <hr class="my-4">
          <p class="mb-5"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mr-auto text-center">
          <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
          <p>
            <a class="a-contact" href="mailto:contact@xosoeth.com">contact@taidodeveloper.com</a>
          </p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-github fa-3x mb-3"></i>
            <p>
              <a class="a-contact" href="https://github.com/dotai2012/ethereum-lottery" target="">Github</a>
            </p>
          </div>
      </div>
    </div>
  </section>
