<br>
<div class="col-sm-12">
    <h4>Account information</h4>
    <div class="alert alert-success" role="alert" *ngIf="isUpdated">
        Successfully updated
      </div>
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="name" name="name">
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-success" (click)="onUpdateName()">Apply</button>
              </div>
          </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" [(ngModel)]="password" name="password" (keyup)="onChangePassword()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" (keyup)="onChangePassword()">
          </div>
          <div class="col-sm-4">
              <button [attr.disabled]="disabled ? '' : null" type="button" class="btn btn-success" (click)="onUpdatePassword()">Thay Đổi</button>
            </div>
        </div>
      </form>
</div>
