<app-navbar></app-navbar>
<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading section-heading-c">Refer to your friend</h2>
          <h6 class="mb-0-c">Amet est placerat in egestas. Ac tincidunt vitae semper quis lectus nulla</h6>
          <hr class="my-4">
          <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="//dashboard/affiliate">Get Your Link</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img class="img-fluid" src="../../assets/svg/step-1.svg">
            <p class="mb-0 mb-0-c">Sit amet est placerat in egestas. Erat imperdiet sed euismod nisi. Egestas erat imperdiet sed euismod</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img class="img-fluid" src="../../assets/svg/step-2.svg">
            <p class="mb-0 mb-0-c">Fermentum odio eu feugiat pretium nibh. Mollis aliquam ut porttitor leo</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
              <img class="img-fluid" src="../../assets/svg/step-3.svg">
            <p class="mb-0 mb-0-c">Urna condimentum mattis pellentesque id nibh tortor id aliquet</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading text-white">No account? Sign up now</h2>
            <hr class="light my-4">
            <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="//register">Sign up</a>
          </div>
        </div>
      </div>
    </section>
<app-contact></app-contact>
