<app-navbar></app-navbar>
<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading section-heading-c">Làm Thế Nào Để Kiếm Tiền Từ Blockchain Lotto?</h2>
          <h6 class="mb-0-c">Người xây dựng cộng đồng chính là bạn. Bạn sẽ nhận được ~800,000 VND (0.035 ETH) khi mời được 10 người bạn tham gia chương trình</h6>
          <hr class="my-4">
          <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="//dashboard/affiliate">Lấy Link Chia Sẻ</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img src="../../assets/svg/step-1.svg">
            <p class="mb-0 mb-0-c">Kể cho người bạn của bạn về Blockchain Lotto</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img src="../../assets/svg/step-2.svg">
            <p class="mb-0 mb-0-c">Người đó đăng ký và tham gia vào chương trình xổ số và nhận bonus ~50,000 VND (0.0025 ETH)</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
              <img src="../../assets/svg/step-3.svg">
            <p class="mb-0 mb-0-c">Bạn sẽ nhận được 0.035 ETH khi mời được 10 người tham gia</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading text-white">Chưa Có Tài Khoản? Đăng Ký Ngay</h2>
            <hr class="light my-4">
            <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="//register">Đăng Ký</a>
          </div>
        </div>
      </div>
    </section>
<app-contact></app-contact>