<app-navbar></app-navbar>
<br><br>
<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>Forgot your password?</h4>
          <p>Praesent semper feugiat nibh sed pulvinar proin. A condimentum vitae sapien pellentesque habitant.</p>
        </div>
        <!-- <form>
          <div class="form-group">
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email address">
          </div>
          <a class="btn btn-primary btn-block" routerLink="">Reset Password</a>
        </form> -->
        <div class="text-center">
          <a class="d-block small mt-3" routerLink="/register">Sign up account</a>
          <a class="d-block small" routerLink="/login">Log in</a>
        </div>
      </div>
    </div>
