<app-navbar></app-navbar>
<particles [params]="particleParams" [style]="particleStyle" [width]="particleWidth" [height]="particleHeight"></particles>
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Xổ Số Trên Nền Tảng Blockchain</strong>
        </h1>
        <h3 class="text-uppercase" *ngIf="showPrize">
          <strong>Tổng giải thưởng hiện tại: {{ totalPrize }} ETH</strong>
        </h3>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/login">Tham Gia Ngay</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Tìm Hiểu Thêm</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Giúp Mọi Thứ Trở Nên Minh Bạch Và Rõ Ràng</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Hiện nay, đa số các chương trình xổ số đều hoạt động theo kiểu truyền thống, tức là người dùng không thể biết CHÍNH XÁC tiền thưởng đó có bao nhiêu và được dùng như thế nào. Tất cả thông tin đều phải thông qua ban tổ chức, do đó khó có thể tránh khỏi trường hợp gian lận</p>
        <p class="text-faded mb-4">Blockchain Lotto đã giải quyết phần nào vấn đề này bằng cách áp dụng công nghệ phân quyền và Smart Contract. Đảm bảo quyền lợi tối đa cho người dùng</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Quy Chế Giải Thưởng</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Chương trình sẽ bắt đầu vào chủ nhật hằng tuần (với điều  kiện giải thưởng lớn hơn 2 ETH)</p>
        <ul class="prize-list">
          <li>70% Số tiền sẽ gửi cho người chiến thắng (ngẫu nhiên)</li>
          <li>15% Số tiền sẽ gửi cho 5% số người người chơi (ngẫu nhiên)</li>
          <li>12% Sẽ dùng cho mục đích quảng cáo và affiliate marketing</li>
          <li>3% Dành cho nhà phát triển</li>
        </ul>
      </div>
      <div class="col-4">
        <canvas id="prizeRatio" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading section-heading-c">Những Tính Năng Nổi Bật</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-user-secret text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">Ẩn Danh</h3>
          <p class="mb-0 mb-0-c">Không giống như nhiều chương trình khác, người chiến thắng hoàn toàn được đảm bảo danh tính của mình</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">Minh Bạch</h3>
          <p class="mb-0 mb-0-c">Dựa trên công nghệ Smart Contract cũng như Blockchain. Số tiền thưởng sẽ được dùng đúng mục đích của nó, không ai có thể can thiệp</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-lock text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">An Toàn</h3>
          <p class="mb-0 mb-0-c">Mọi tương tác với tài khoản Ethereum của bạn đều thông qua Metamask. Chúng tôi không lưu giữ private key của bạn</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">Made with Love</h3>
          <p class="mb-0 mb-0-c">Vì lý do rủi ro, chúng tôi quyết định không ICO dự án này để đảm bảo an toàn tối đa cho người dùng. Mọi giao dịch đều thông qua Ethereum (ETH)</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contact></app-contact>