<app-navbar></app-navbar>
<particles [params]="particleParams" [style]="particleStyle" [width]="particleWidth" [height]="particleHeight"></particles>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Winning List</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h6>Special Prize:</h6>
      <a href="https://etherscan.io/address/{{ lastWinner }}">{{ lastWinner }}</a>
      <hr>
      <h6>Consolation Prizes:</h6>
      <table class="table" height="400">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lastConsolationPrize">
            <th><a href="https://etherscan.io/address/{{ item }}">{{ item }}</a></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Lottery based on Blockchain</strong>
        </h1>
        <h3 class="text-uppercase" *ngIf="showPrize">
          <strong>Total prize: {{ totalPrize }} ETH</strong>
        </h3>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/login">Getting Started</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        <button *ngIf="showConsolationPrize" class="btn btn-primary btn-xl" (click)="open(content)">Danh Sách Trúng Thưởng</button>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h2 class="section-heading text-white">Turpis massa tincidunt dui ut</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Currently, most lottery programs work in the traditional way: users can not know exactly how much prizes and how they are used. All information is from the organizers, so it is difficult to prevent embezzlement</p>
        <p class="text-faded mb-4">Blockchain Lotto solved this problem by applying decentralized technology and Smart Contract.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-md-12 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-ticket mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">Step 1</h3>
          <p class="mb-0 mb-0-c">The player pays a deposit as participation fee (0.0005 ETH). This amount will be kept at Smart Contract. No one can interfere with this amount, including the organizers. You can see its definition at <a class="wiki-a" href="https://vi.wikipedia.org/wiki/Ethereum#H%E1%BB%A3p_%C4%91%E1%BB%93ng_th%C3%B4ng_minh">Here</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-md-12 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-random mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">Step 2</h3>
          <p class="mb-0 mb-0-c">Smart Contract will randomly award prizes (details of awards see below)</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-md-12 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-trophy mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">Step 3</h3>
          <p class="mb-0 mb-0-c">The player receives the prize anonymously, ensuring his / her privacy</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 mx-auto text-center">
        <h2 class="section-heading text-white">Award:</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">The program will start weekly (if the prize is greater than 0.05 ETH)</p>
        <ul class="prize-list">
          <li>50% of the prize will be sent to the winner (random)</li>
          <li>35% of the prize will be sent to 15% of players (random)</li>
          <li>12% will be used for advertising and affiliate marketing purposes</li>
          <li>3% for developers</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <canvas id="prizeRatio" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading section-heading-c">Outstanding Features</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-md-12 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-user-secret text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">Anonymous</h3>
          <p class="mb-0 mb-0-c">Arcu odio ut sem nulla pharetra diam sit amet. Ultrices in iaculis nunc sed augue lacus</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-md-12 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">Transparent</h3>
          <p class="mb-0 mb-0-c">Nec feugiat nisl pretium fusce id velit ut.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-md-12 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-lock text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">Safe</h3>
          <p class="mb-0 mb-0-c">Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-md-12 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3 mb-3-c">Made with Love</h3>
          <p class="mb-0 mb-0-c">Turpis egestas sed tempus urna et pharetra pharetra</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contact></app-contact>
